Makefile.in
Makefile
/configure
/dev-environ
*.tar.gz*
aclocal.m4
autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/docs
/log
*stamp-*
*-gw-*.[ch]
.deps
.libs
*.log
*.la
*.lo
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/ltmain.sh
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
/INSTALL
/config.h.in~
/clutter/gnome/gw/clutter-glx.scm
/clutter/gnome/gw/clutter.scm
/libtool
/doc/clutter/guile-gnome-clutter.info
/doc/clutter/guile-gnome-clutter.info-1
/doc/clutter/guile-gnome-clutter.info-2
/doc/clutter/version.texi
/doc/clutter-glx/guile-gnome-clutter-glx.info
/doc/clutter-glx/version.texi
/doc/clutter/guile-gnome-clutter.info-3
/doc/clutter-glx/guile-gnome-clutter-glx.html
/doc/clutter/guile-gnome-clutter.html
