Makefile
Makefile.in
guile-gnome-gstreamer-0-uninstalled.pc
guile-gnome-gstreamer-0.pc
guile-gnome-gstreamer-uninstalled.pc
guile-gnome-gstreamer.pc
examples/Makefile
examples/Makefile.in
gnome/Makefile
gnome/Makefile.in
gnome/defs/Makefile
gnome/defs/Makefile.in
gnome/gstreamer/Makefile
gnome/gstreamer/Makefile.in
gnome/gw/.deps
gnome/gw/.libs
gnome/gw/Makefile
gnome/gw/Makefile.in
gnome/gw/gnome-glib.log
gnome/gw/gnome-gstreamer.log
gnome/gw/gstreamer.scm
gnome/gw/guile-gnome-gw-gstreamer.c
gnome/gw/guile-gnome-gw-gstreamer.h
gnome/gw/libgw-guile-gnome-gstreamer.la
gnome/gw/libgw_guile_gnome_gstreamer_la-gstreamer-support.lo
gnome/gw/libgw_guile_gnome_gstreamer_la-guile-gnome-gw-gstreamer.lo
gnome/overrides/Makefile
gnome/overrides/Makefile.in
