Makefile
Makefile.in
gnome/Makefile
gnome/Makefile.in
gnome/defs/Makefile
gnome/defs/Makefile.in
gnome/gw/.deps
gnome/gw/.libs
gnome/gw/Makefile
gnome/gw/Makefile.in
gnome/gw/gnome-atk.log
gnome/gw/gnome-gdk.log
gnome/gw/gnome-glib.log
gnome/gw/gnome-gtk.log
gnome/gw/gnome-gtksourceview.log
gnome/gw/gnome-pango.log
gnome/gw/gtksourceview.scm
gnome/gw/guile-gnome-gw-gtksourceview.c
gnome/gw/guile-gnome-gw-gtksourceview.h
gnome/gw/libgw-guile-gnome-gtksourceview.la
gnome/gw/libgw_guile_gnome_gtksourceview_la-guile-gnome-gw-gtksourceview.lo
gnome/gw/libgw_guile_gnome_gtksourceview_la-source-view-support.lo
gnome/overrides/Makefile
gnome/overrides/Makefile.in
